*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: poppins;
}
$LinkColor:dodgerblue;

@import "./navBar";
@import "./iMac-iPhone-iPad";
@import "./footerLinks";
@import "./normalize";
@import "./gridContainer";